.overlayWrapper{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #00000099;
    display: none;
    align-items: center;
    justify-content: center;
}
.overlayInnerWrapper{
    display: flex;
    width: 50%;
    height: 60%;
}
.formWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    height: 100%;
    background: white;
    padding: 5%;
    box-sizing: border-box;
}
.overlayTextWrapper{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    background: #36416A;
    color: white;
    padding: 5%;
    box-sizing: border-box;
}
.overlayTextWrapper h1{
    font-weight: 500;
    margin: 5px 0px;
}
.overlayTextWrapper p{
    width: 50%;
    line-height: 1.8rem;
    font-size: 1.3rem;
}
.overlayInnerWrapperRes{
    width: 85%;
    height: auto;
    box-shadow: 0px 4.345678806304932px 39.11111068725586px 0px #00000040;
}
.formWrapperRes{
    border-radius: 11px;
}
.formWrapperRes button{
    width: 100%;
}