.loginForm{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.formRow{
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0px 5px;
}
.formInput{
    width: 90%;
    border: none;
    border-bottom: solid 1px #AAAAAA;
}
.formInput:focus{
    border-bottom: solid 1px #AAAAAA;
    outline: none;
}
.formIcon{
    box-sizing: border-box;
    padding: 0px 20px 0px 0px;
    width: 9%;
}
.formIcon img{
    width: 20px;
}
.loginButton{
    background-color: #36416A;
    color: white;
    font-size: 1rem;
    border: none;
    padding: 2% 6%;
    border-radius: 20px;
    cursor: pointer;
}

.errBlock{
    background-color: rgb(255, 74, 74);
    width: 100%;
    box-sizing: border-box;
    padding: 2%;
    border-radius: 10px;
    display: none;
}
.formChanger{
    color: #36416A;
    text-decoration: underline;
    font-weight: 500;
    text-wrap: nowrap;
}